/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family:'Inter-Variable', sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1A1A1A;
  background-image: repeating-linear-gradient(transparent, #d3d3d3 2px), repeating-linear-gradient(90deg, transparent, #d3d3d3 2px);
}

.main-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--width-main);
  gap: 50px;
}

.card-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  block-size: var(--height-welcome);
  background-color: #fff;
  inline-size: var(--width-main);
  margin: 100px 0 100px 0;
}

.card-welcome-h1 {
  font-family: 'PressStart2P-Regular';
  font-size: var(--h1-welcome);
}

.card-welcome-h2 {
  font-family: 'PressStart2P-Regular';
  font-size: var(--h2-welcome);
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid #000;
  width: 100%;
  background-color: #fff;
}

.card img {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__title {
  block-size: var(--height-card__title);
  background-color: #fff;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  margin-left: 10px;
  padding-top: 4px;
}

@supports (font-variation-settings: 'wght' 700) {
  .card__title {
      font-variation-settings: 'wght' 700;
  }
}

.card__text {
  margin: 25px;
}

.card__epigr {
  margin: 0 25px 25px 25px;
}

.card__conteiner-buttons {
  display: flex;
  gap: 12px;
  width: min-content;
  height: min-content;
  margin: auto 25px 25px auto;

}

.card__icon-button{
  width: min-content;
  height: min-content;
  margin-top: 9px;
  background-color: #fff;
  border: none;
  padding: 0;
}

.card__like-button {
  width: 130px;
  height: 38px;
  background-color: #fff;
  border: none;
  outline: 2px solid #000;
}

.button__text {
  font-family: 'PressStart2P-Regular';
  font-size: 14px;
}

.card__icon-size {
  width: 27px;
  height: 24px;
}

.save-button {
  width: var(--width-save);
  height: var(--height-save);
  margin: 0 var(--margin-save) 102px var(--margin-save);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  outline: 2px solid #000;
}

.save-button__disketto {
  width: 21px;
  margin-top: 2px;
}

.save-button__text {
  font-family: 'PressStart2P-Regular';
  font-size: 14px;
}

@supports (-webkit-text-stroke: inherit){
  .save-button__text {
    -webkit-text-stroke: inherit
  }
}

@supports (text-stroke: inherit){
  .save-button__text {
    -webkit-text-stroke: inherit
  }
}